{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  {% block content %}
  <head>
    <style>
      .no-gutters {
        margin-right: 0;
        margin-left: 0;
        margin-top: 20px;
      }

    </style>
  </head>

  <body>    
    <section class="home-slider js-fullheight owl-carousel">
            <div class="slider-item js-fullheight" style="background-image:url(../../static/fifth/images/family-pet-photo-longerfamily-pet-photo1920.jpg);">
                <div class="overlay"></div>
              <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                  <div class="col-md-7 col-sm-12 text-center ftco-animate">
                      <h1 class="mb-3 mt-5 bread">About</h1>
                      <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>about</span></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section class="ftco-section ftc-no-pb">
            <div class="container">
                <div class="row no-gutters justify-content-center">
                    <div class="col-md-10">
                        <div class="row no-gutters">
                            <div class="col-md-5 p-md-5 img img-2" style="background-image: url(../../static/fifth/images/about_us2.png);">
                            </div>
                            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                      <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                          <div class="pl-md-5 ml-md-5">
                              <span class="subheading">about</span>
                            <h2 class="mb-4">ABOUT US</h2>
                        </div>
                      </div>
                      <div class="pl-md-5 ml-md-5 mb-5">

                          <p>여전히 수많은 아이들이 버려지고 있고, 여전히 아이들을 장난감 정도로 여기는 사람들이 존재합니다. 
                              불행 중 다행으로 예전에 비해 많은 분들이 '유기견'에 관심을 가지고 여러 방면에서 도움을 주고 계시는 분들도 많아졌습니다. 하지만 아이들에게 가장 필요한 것은 장난감도 간식도 아닌 “가족”이라 생각했습니다.
                              그리고 제가 해줄 수 있는 게 무엇일까 고민을 시작하게 되었습니다. 이 아이들이 새로운 가족을 찾아가기 위해 말이죠. 생각보다 많은 분들이 아이들의 입양을 위해 노력하고 있음을 알 수 있었습니다. 그러나 그 중에서도 인기 있는 ‘품종’의 있는, 어린, 작은 아이들이 입양될 확률이 훨씬 높다는 사실을 알게 되었습니다. 또한 이러한 추세 때문에 정말 치료가 필요한 아이들이 치료를 받지 못하기도 하고, 열악한 환경 탓에 많은 아이들이 안락사라는 마지막을 맞이한다는 것도 알게 되었습니다.
                              그리고 이것이 “이렇게나 사랑스러운 아이들이 입양되지 못한 채, 안타까운 마지막 순간을 맞이해야만 하는가?”라는 분노와 의문으로 이어졌던 것 같습니다.
                              저는 이를 계기로 ‘멍스쉘터(Mong's Shelter')라는 유기견 입양 지원 사이트를 개발하게 되었습니다.</p>
                          <p>저희 멍스쉘터는 ‘유기견’에 대한 인식개선을 통해 유기견의 입양률을 높이는데 기여하고자 합니다. 뿐만 아니라 입양이 잘 되지 않는 ‘노견’, ‘성견’, ‘대형견’과 같은 아이들이 새로운 가족을 찾을 수 있도록 최선을 다하고자 합니다.</p>
                                    
                                    <p><a href="#" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
          
          <section class="ftco-section ftc-no-pb">
                <div class="container">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-10">
                            <div class="row no-gutters">
                                <div class="col-md-5 p-md-5 img img-2 order-md-last" style="background-image: url(../../static/fifth/images/Inspire-Little-baby-with-dog-happy-moment-of-friendship.jpg);">
                                </div>
                                <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                          <div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
                              <div class="pr-md-5 mr-md-5">
                                  <span class="subheading">about</span>
                                <h2 class="mb-4">OUR SERVICES</h2>
                            </div>
                          </div>
                                <div class="pr-md-5 mr-md-5">
                                    <h5>- Adopting</h5> 
                                    <p> &nbsp;&nbsp;&nbsp;저희 멍스쉘터는 ‘Adopting’ 서비스를 통해 입양이 어려운 아이들도 새로운 가족을 찾을 수 있도록 최선을 다하겠습니다.
                                        그러나 저희는 예비 부모님들께서 아이들의 입양을 주저하시는 그 마음 또한 충분히 이해합니다. 새로운 생명을 가족으로 받아들인 다는 것, 게다가 사람에게 상처받은 아이들을 가족으로 받아들인 다는 것은 결코 쉽게 결정내릴 수 없는 일입니다.
                                        그런 만큼 멍스쉘터는 아이들을 치료해주고, 아이들에게 사람들과 함께 살아가는 방법을 올바르게 알려주고자 합니다.<br></P>
                                        <h5>- Matching Service</h5>
                                        <p>&nbsp;&nbsp;&nbsp;또한 저희 멍스쉘터 에서는 조심스럽지만, 입양 전 예비 보호자 분들의 자격도 확인하고자 합니다. 이후, 보호자님과 아이들의 성향, 환경, 상황 등을 최대한 고려하여 입양이 진행됩니다. 이처럼 저희는 꼼꼼한 입양절차를 통해 아이들이 다시 버려지는 일이 발생하지 않도록 할 것입니다.<br></p>
                                        
                                        <h5>- Mong's School</h5>
                                        <p>&nbsp;&nbsp;&nbsp;교육은 아이들에게만 필요한 것이 아니라고 생각합니다. 따라서 ‘Mong's School'에서는 보호자님들께 아이들의 올바른 양육방법에 관한 교육 자료를 제공하고자 합니다.<br></p>
                                        
                                        <h5>- Magazine</h5>
                                        <p>저희 몽스쉘터는 ‘Magazine'을 통해 꼭 ‘직접 입양’이 아니더라도 여러분들이 간접적으로 나마 아이들의 입양에 보탬이 될 수 있는 방법을 제시하겠습니다.
                                            ‘Magazine’ 서비스를 통해서는 아이들이 씩씩하게 성장하는 과정을 담아 많은 분들께 그 이야기를 전달하고자 합니다. 이를 통해 많은 분들께 유기견 문제의 심각성을 알리고, 아이들을 도울 수 있는 방법을 전달할 것입니다.</p>
                                      
                                        <p><a href="#" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <section class="ftco-section ftc-no-pb">
                <div class="container">
                    <div class="row no-gutters justify-content-center">
                        <div class="col-md-10">
                            <div class="row no-gutters">
                                <div class="col-md-5 p-md-5 img img-2" style="background-image: url(../../static/fifth/images/Inspire-Little-baby-with-dog-happy-moment-of-friendship.jpg);">
                                </div>
                                <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                          <div class="heading-section mb-5 pl-md-5 heading-section-with-line">
                              <div class="pl-md-5 ml-md-5">
                                  <span class="subheading">about</span>
                                <h2 class="mb-4">Mong's Shelter?</h2>
                            </div>
                          </div>
                          <div class="pl-md-5 ml-md-5 mb-5">
                                  
                                  <p>저희 멍스쉘터는 "유기견들의 임시 보금자리"라는 의미를 담고 있습니다.</p>
                                  <p>Mong's Shelter means "a temporary shelter" for abandoned dogs.<br>
                                                                  
                                        <p><a href="#" class="btn-custom">Learn More <span class="ion-ios-arrow-forward"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            <br>
            <section class="ftco-section testimony-section">
                    <div class="container">
                            <div class="heading-section mb-md-5 pl-md-5 heading-section-with-line">
                                    <div class="pr-md-5 mr-md-5">
                                        <span class="subheading">about</span>
                                      <h2 class="mb-4">TEAM MEMBER</h2>
                                  </div>
                                </div>
                      <div class="row ftco-animate">
                        <div class="col-md-12">
                          <div class="carousel-testimony owl-carousel">
                            <div class="item">
                              <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../static/fifth/images/KakaoTalk_20190628_201109681.png)">
                                  <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                  </span>
                                </div>
                                <div class="text">
                                  <p class="mb-5 pl-4 line">초심을 잃지 않고 멍스쉘터가 언제나 동물들의 편에 설 수 있도록 노력하겠습니다.</p>
                                  <p class="name">Soojin Woo</p>
                                  <span class="position">position</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../static/fifth/images/KakaoTalk_20190628_201109681.png)">
                                  <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                  </span>
                                </div>
                                <div class="text">
                                  <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Taeho Park</p>
                                  <span class="position">Developer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../static/fifth/images/KakaoTalk_20190628_201109681.png)">
                                  <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                  </span>
                                </div>
                                <div class="text">
                                  <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Sohyun Yun</p>
                                  <span class="position">Designer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../static/fifth/images/KakaoTalk_20190628_201109681.png)">
                                  <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                  </span>
                                </div>
                                <div class="text">
                                  <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">SeongJun Jang</p>
                                  <span class="position">Developer</span>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../static/fifth/images/KakaoTalk_20190628_201109681.png)">
                                  <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                  </span>
                                </div>
                                <div class="text">
                                  <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                  <p class="name">Minjeong Ha</p>
                                  <span class="position">Market Analyst</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
  </body>
   
{% endblock %}
</html>


<section class="site-section " id="services-section">
    <div class="container">
      <div class="row justify-content-center" data-aos="fade-up">
        <div class="col-lg-6 text-center heading-section mb-5">
          
          <h2 class="text-black mb-2">Our Services</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up" data-aos-delay="">
          
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Dog Checkup</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>

        </div>
        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Dog Dermatology</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>For Strong Teeth</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>


        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="">
          
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Dog First Aid</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>

        </div>
        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="100">
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Dog Dryer</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
        <div class="col-md-6 mb-4 col-lg-4" data-aos="fade-up"  data-aos-delay="200">
          <div class="block_service">
            <span class="icon-paw d-block display-3 text-primary mb-3"></span>
            <h3>Expert Veterinarian</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
          </div>
        </div>
          
      </div>
    </div>
  </section>