{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Honey Wedding Multi</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'matching/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'matching/vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'matching/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'matching/vendors/owl-carousel/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'matching/vendors/lightbox/simpleLightbox.css' %}">
        <link rel="stylesheet" href="{% static 'matching/vendors/nice-select/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'matching/vendors/animate-css/animate.css' %}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'matching/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'matching/css/responsive.css' %}">
    </head>
    <body>
        <!--================Journey Area =================-->
        <section class="journey_area p_120">
        	<div class="container">
				<div class="main_title">
					<h2>July, Matching Result</h2>
					<p>멍스쉘터 알고리즘을 통해 매칭이 이루어지며, 90%이상의 매칭률이 나와야 입양이 가능합니다. 이번에 매칭이 안되신 분들은 매칭률을 높이기 위해 조금 더 노력을 해주세요!</p>
				</div>
				<div class="row journey_inner">
					<div class="col-lg-3">
						<div class="journey_image_items">
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-1.jpg' %}" alt="">
								<h4>Abbie Norman</h4>
								<p>Sister</p>
							</div>
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-2.jpg' %}" alt="">
								<h4>Bess Wolfe</h4>
								<p>Cousine</p>
							</div>
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-3.jpg' %}" alt="">
								<h4>Mathilda Moss</h4>
								<p>Neighbour</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="journey_text_items">
							<div class="journey_item">
								<h4>Love at first sight</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
							</div>
							<div class="journey_item">
								<h4>First Kissing</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
							</div>
							<div class="journey_item">
								<h4>Living Together</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip commodo.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="journey_image_items">
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-4.jpg' %}" alt="">
								<h4>Blake Hunter</h4>
								<p>Brother</p>
							</div>
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-5.jpg' %}" alt="">
								<h4>Norman Ramsey</h4>
								<p>Cousine</p>
							</div>
							<div class="journey_item">
								<img class="img-fluid" src="{% static 'matching/img/journey/journey-6.jpg' %}" alt="">
								<h4>Tommy Phillips</h4>
								<p>Neighbour</p>
							</div>
						</div>
					</div>
				</div>
        	</div>
        </section>
        <!--================End Journey Area =================-->
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{% static 'matching/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'matching/js/popper.js' %}"></script>
        <script src="{% static 'matching/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'matching/js/stellar.js' %}"></script>
        <script src="{% static 'matching/vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{% static 'matching/vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'matching/vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'matching/vendors/isotope/isotope-min.js' %}"></script>
        <script src="{% static 'matching/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{% static 'matching/vendors/flipclock/timer.js' %}"></script>
        <script src="{% static 'matching/js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'matching/js/mail-script.js' %}"></script>
        <script src="{% static 'matching/js/theme.js' %}"></script>
    </body>
</html>