{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% block content %}
  <body>
      <section class="home-slider js-fullheight owl-carousel">
          <div class="slider-item js-fullheight" style="background-image:url(../../static/navbar/images/Dog-wearing-glasses-reading-a-book_1920x1080.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                  <div class="col-md-7 col-sm-12 text-center ftco-animate">
                      <h1 class="mb-3 mt-5 bread">Q&A</h1>
                      <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Q&A</span></p>
                  </div>
                </div>
              </div>
            
          </div>
    
          <div class="slider-item js-fullheight" style="background-image:url(../../static/navbar/images/ws_Pug_reading_a_book_1920x1080.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center">
                  <div class="col-md-7 col-sm-12 text-center ftco-animate">
                      <h1 class="mb-3 mt-5 bread">Q&A</h1>
                      <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Q&A</span></p>
                  </div>
                </div>
              </div>
          </div>
        </section>
    
        
        <section class="ftco-section ftco-degree-bg">
            <div class="row">
              <div class="container">
                <div class="col-md-8 ftco-animate">    
                  <div class="pt-5 mt-5">
                    
                      <h3 class="mb-5">
                          <form action="#" class="search-form">
                              <div class="form-group">
                                <span class="icon fa fa-search"></span>
                                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                              </div>
                          </form>
                      </h3>
                    <ul class="comment-list">
                      {% for question in questions.all %}
                        <li class="comment">
                            <div class="vcard bio">
                              <img src="{% static 'navbar/images/person_1.jpg' %}" alt="No Profile image">
                            </div>
                            <div class="comment-body">
                              <h3>{{question.title2}}</h3>
                              <div class="meta"><sapn class="icon-calendar"></span>
                                  <script type="text/javascript">
                                    var d = new Date();
      
                                    if((d.getMonth()+1)==1)
                                    {
                                      document.write('January');
                                    }
                                    else if((d.getMonth()+1)==2)
                                    {
                                      document.write('February');
                                    }
                                    else if((d.getMonth()+1)==3)
                                    {
                                      document.write('March');
                                    }
                                    else if((d.getMonth()+1)==4)
                                    {
                                      document.write('April');
                                    }
                                    else if((d.getMonth()+1)==5)
                                    {
                                      document.write('May');
                                    }
                                    else if((d.getMonth()+1)==6)
                                    {
                                      document.write('JUn');
                                    }
                                    if((d.getMonth()+1)==7)
                                    {
                                      document.write('July');
                                    }
                                    else if((d.getMonth()+1)==8)
                                    {
                                      document.write('August');
                                    }
                                    else if((d.getMonth()+1)==9)
                                    {
                                      document.write('September');
                                    }
                                    else if((d.getMonth()+1)==10)
                                    {
                                      document.write('October');
                                    }
                                    else if((d.getMonth()+1)==11)
                                    {
                                      document.write('November');
                                    }
                                    else
                                    {
                                      document.write('December');
                                    }
                                    document.write(' ' + d.getDate() + ', ');
                                    document.write(d.getFullYear() + ' ');
                                     
                                    document.write(d.getHours() + ':');
                                    document.write(d.getMinutes() + '');
                                                                 
                                    </script>
      
                              </div>
                              <p>{{question.description2}}</p>
                            
                              <p><a href="#" class="reply">reply</a>
                                &nbsp &nbsp
                                <a href="#"><span class="icon-eye"></span> View</a>
                                &nbsp
                                <a href="#"><span class="icon-chat"></span> 19</a>
                              </p>
                            </div>
                        </li>
                      {% endfor %}
                      </ul>     
                  </div>
      
                </div> 
                
              </div>
            </div>
          </section>       
          
  </body>
  {% endblock %}  

</html>

