{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mong's Shelter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdn4.iconfinder.com/data/icons/social-messaging-productivity-black-4/1/101_13-512.png" rel="shortcut icon">
	
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <link rel="stylesheet" href="{% static '../static/school/css/open-iconic-bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/animate.css' %}">
    
    <link rel="stylesheet" href="{% static '../static/school/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static '../static/school/css/aos.css' %}">

    <link rel="stylesheet" href="{% static '../static/school/css/ionicons.min.css' %}">

    <link rel="stylesheet" href="{% static '../static/school/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/jquery.timepicker.css' %}">

    
    <link rel="stylesheet" href="{% static '../static/school/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/icomoon.css' %}">
    <link rel="stylesheet" href="{% static '../static/school/css/style.css' %}">
  </head>
  <body>

	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="{% url 'main' %}">Mong's Shelter</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
				<li class="nav-item"><a href="{% url 'main' %}" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="{% url 'about_us' %}" class="nav-link">About</a></li>
				<li class="nav-item"><a href="{% url 'adopting' %}" class="nav-link">Adopting</a></li>
				<li class="nav-item"><a href="{% url 'review' %}" class="nav-link">Adoption Review</a></li>
				<li class="nav-item"><a href="{% url 'school_dog' %}" class="nav-link">Mong's School</a></li>
				<li class="nav-item"><a href="{% url 'magazine' %}" class="nav-link">Magazine</a></li>
				<li class="nav-item"><a href="{% url 'q&a' %}" class="nav-link">Q & A</a></li>
				<li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log in</a></li>
				<li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign up</a></li>
				<li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log out</a></li>
	        </ul>
	      </div>
		</div>
	</nav>
	
	<!-- END nav -->
<section id="home-section" class="hero" style="background-image: url(../static/school/images/ffffff.png);" data-stellar-background-ratio="0.5">		
	<section id="home-section" class="hero" data-stellar-background-ratio="0.5">
		<div class="home-slider owl-carousel">
		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container-fluid p-0">
			<div class="row d-md-flex no-gutters slider-text align-items-end justify-content-end" data-scrollax-parent="true">
				<img class="one-third align-self-end order-md-last img-fluid" src="{% static '../static/school/images/Golden-Retriever-Puppy-PNG-Clipart.png' %}" alt="">
				
					<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text mt-5">
						<span class="subheading">Training</span>
					  <h1 class="mb-4" style="font-size: 60px"><strong>Education for Dogs</strong></h1>
					  <p class="mb-4">아이들을 무작정 혼내기 전에, <br>왜 그런 행동을 했을지 한번 더 고민해봐주세요.</p>
					  
					  <p><a href="#" class="btn btn-primary py-3 px-4">Training Now</a></p>
				  </div>
				</div>
			  </div>
		  </div>
		</div>

		<div class="slider-item js-fullheight">
			<div class="overlay"></div>
		  <div class="container-fluid p-0">
			<div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
				<img class="one-third align-self-end order-md-last img-fluid" src="{% static '../static/school/images/Golden-Retriever-Puppy-PNG-Transparent-Image.png' %}" alt="">
				<div class="one-forth d-flex align-items-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<div class="text mt-5">
						<span class="subheading">Mong's Shelter</span>
					  <h1 class="mb-4" style="font-size: 60px"><strong>Mong's School</strong></h1>
					  <p class="mb-4">아이들이 바르게 자랄 수 있도록<br> 저희 멍스스쿨이 함께 하겠습니다.</p>
					  
					  <p><a href="#" class="btn btn-primary py-3 px-4">Donation Now</a></p>
				  </div>
				</div>
			  </div>
		  </div>
		</div>
	  </div>
  </section>


		<section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container">
				{%for school in posts %}
				<div class="row">
					<div class="col-md-6 d-flex">
						<div class="p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{school.thumbnail2.url}});">
							<a href="{{school.url2}}" class="icon popup-vimeo d-flex justify-content-center align-items-center">
								<span class="icon-play"></span>
							</a>
						</div>
					</div>
					<br>
					<br>
					<div class="col-md-6 py-md-5 pb-5 wrap-about pb-md-5 ftco-animate">
						<div class="heading-section mb-4 mt-md-5">
							<h1 class="big">Mong's</h1>
							<span class="subheading">dog school</span>
							<h3 class="mb-4"><b>{{school.title4}}</b></h3>
						</div>
						<div class="pb-md-5">
							<p>{{school.description5}}</p>
						</div>
					</div>
					<br>
					<br>
				</div>
					<br>
					<br>
				{%endfor%}
			</div>
		</section>

		
		<div class="col text-center">
				<div class="block-27">
				  <ul>
					{% if posts.has_previous %}
					<li><a href="?page={{posts.previous_page_number}}">&lt;</a></li>
					{% endif %}

					{% if posts.has_next %}
					<li><a href="?page={{posts.next_page_number}}">&gt;</a></li>
					{% endif %}
				  </ul>
				</div>
		</div>

		<footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
			  <div class="row mb-5">
				<div class="col-md">
				  <div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Mong's Shelter</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
					  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
					  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md">
				  <div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Links</h2>
					<ul class="list-unstyled">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">About</a></li>
					  <li><a href="#">Services</a></li>
					  <li><a href="#">Projects</a></li>
					  <li><a href="#">Contact</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md">
				   <div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Services</h2>
					<ul class="list-unstyled">
					  <li><a href="#">Architectural Design</a></li>
					  <li><a href="#">Interior Design</a></li>
					  <li><a href="#">Exterior Design</a></li>
					  <li><a href="#">Lighting Design</a></li>
					  <li><a href="#">AutoCAD Service</a></li>
					</ul>
				  </div>
				</div>
				<div class="col-md">
				  <div class="ftco-footer-widget mb-4">
					<h2 class="ftco-heading-2">Have a Questions?</h2>
					<div class="block-23 mb-3">
					  <ul>
						<li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
						<li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
						<li><a href="#"><span class="icon icon-envelope"></span><span class="text">woosj98@gmail.com</span></a></li>
					  </ul>
					</div>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12 text-center">
	  
				  <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			  </div>
			</div>
		  </footer>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#ffcdcd"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ffcdcd"/></svg></div>

  <script src="{% static '../static/school/js/jquery.min.js' %}"></script>
  <script src="{% static '../static/school/js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static '../static/school/js/popper.min.js' %}"></script>
  <script src="{% static '../static/school/js/bootstrap.min.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.stellar.min.js' %}"></script>
  <script src="{% static '../static/school/js/owl.carousel.min.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static '../static/school/js/aos.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static '../static/school/js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static '../static/school/js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static '../static/school/js/scrollax.min.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="{% static '../static/school/js/google-map.js' %}"></script>
  <script src="{% static '../static/school/js/main.js' %}"></script>
    
  </body>
</html>