{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'main/img/fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Cause Charity</title>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="{% static 'main/css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/animate.min.css' %}">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
	<!-- Start Causes Area -->
	<section class="causes-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 section-title">
					<h2>Our Major Causes</h2>
					<p>
						The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence the
						natural chain of events.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-cause">
						<div class="top">
							<div class="thumb">
								<img class="c-img img-fluid" src="{% static 'main/img/causes/c1.jpg' %}" alt="">
							</div>
							<a href="#">
								<h3>Help Restoring Uganda’s Water
									Pipelines Construction</h3>
							</a>
							<p class="text">
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct especially
								workplace.
							</p>
						</div>
						<div class="middle">
							<div class="skill_main">
								<div class="skill_item">
									<div class="progress">
										<div class="progress-bar progress-bar1" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="d-flex">
								<div class="mr-50">
									<h5><span class="counter">76</span>%</h5>
									<p>Funded</p>
								</div>
								<div class="mr-50">
									<h5>$<span class="counter">7,689</span></h5>
									<p>Pledged</p>
								</div>
								<div class="">
									<h5><span class="counter">29</span></h5>
									<p>Days Remaining</p>
								</div>
							</div>
						</div>
						<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							<a href="#" class="primary-btn offwhite">View Details</a>
							<a href="#" class="primary-btn primary-btn1">Donate Here</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-cause">
						<div class="top">
							<div class="thumb">
								<img class="c-img img-fluid" src="{% static 'main/img/causes/c2.jpg' %}" alt="">
							</div>
							<a href="#">
								<h3>Help Restoring Uganda’s Water
									Pipelines Construction</h3>
							</a>
							<p class="text">
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct especially
								workplace.
							</p>
						</div>
						<div class="middle">
							<div class="skill_main">
								<div class="skill_item">
									<div class="progress">
										<div class="progress-bar progress-bar2" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="d-flex">
								<div class="mr-50">
									<h5><span class="counter">76</span>%</h5>
									<p>Funded</p>
								</div>
								<div class="mr-50">
									<h5>$<span class="counter">7,689</span></h5>
									<p>Pledged</p>
								</div>
								<div class="">
									<h5><span class="counter">29</span></h5>
									<p>Days Remaining</p>
								</div>
							</div>
						</div>
						<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							<a href="#" class="primary-btn offwhite">View Details</a>
							<a href="#" class="primary-btn">Donate Here</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-cause">
						<div class="top">
							<div class="thumb">
								<img class="c-img img-fluid" src="{% static 'main/img/causes/c3.jpg' %}" alt="">
							</div>
							<a href="#">
								<h3>Help Restoring Uganda’s Water
									Pipelines Construction</h3>
							</a>
							<p class="text">
								inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct especially
								workplace.
							</p>
						</div>
						<div class="middle">
							<div class="skill_main">
								<div class="skill_item">
									<div class="progress">
										<div class="progress-bar progress-bar3" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
							<div class="d-flex">
								<div class="mr-50">
									<h5><span class="counter">76</span>%</h5>
									<p>Funded</p>
								</div>
								<div class="mr-50">
									<h5>$<span class="counter">7,689</span></h5>
									<p>Pledged</p>
								</div>
								<div class="">
									<h5><span class="counter">29</span></h5>
									<p>Days Remaining</p>
								</div>
							</div>
						</div>
						<div class="bottom d-flex justify-content-between align-items-center flex-wrap">
							<a href="#" class="primary-btn offwhite">View Details</a>
							<a href="#" class="primary-btn primary-btn3">Donate Here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End footer Area -->

	<script src="{% static 'main/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="{% static 'main/js/vendor/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{% static 'main/js/easing.min.js' %}"></script>
	<script src="{% static 'main/js/hoverIntent.js' %}"></script>
	<script src="{% static 'main/js/superfish.min.js' %}"></script>
	<script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'main/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'main/js/waypoints.min.js' %}"></script>
	<script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'main/js/parallax.min.js' %}"></script>
	<script src="{% static 'main/js/mail-script.js' %}"></script>
	<script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>